header {
    background-color: #3777bb;
    text-align: center;
    padding: 20px 10px;
    position: sticky;
    top: 0;
    z-index: 3;
}

#topo{
    margin-top: 0px;
    margin-bottom: 0px;
}

section {
    margin-top: 10px;
    text-align: center;
}

section img {
    width: 1080px;
    height: 720px;
}

p, h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

footer {
    background-color: #3777bb;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}